*{
    margin:0;
    padding: 0;
}

header{
    background-color:rgb(12, 97, 97);
    text-align: center;
    padding: 25px;
}

.titulo{
    color: white;
}

nav ul li{
    list-style: none;
    display: inline-block;
    color: white;
    padding: 0 15px;
}